{% extends "main/base.html" %} {% load static %} {% block title %} Home | Auth
Project {% endblock title %} {% block head %}
<link rel="stylesheet" href="{% static 'main/css/home.css' %}" />
{% endblock head %} {% block body %} {% include 'main/navbar.html' %}
<section class="home-container">
  <div class="post-list">
    {% for post in posts %}
    <a class="post-item" href="/post/{{post.id}}/">
      <h3>{{post.title}} <span>(Author: {{post.user.name}})</span></h3>
      <p>{{post.content | truncatechars:250}}</p>
      <h2>Datetime: {{post.timestamp}}</h2>
    </a>
    {% endfor %}
  </div>
  <div class="create-side">
    <form action="">
      {% csrf_token %}
      <input type="text" name="title" placeholder="Title" />
      <textarea name="content" placeholder="Post Content"></textarea>
      <button type="submit">Post</button>
    </form>
  </div>
</section>
{% endblock body %}
