{% extends "main/base.html" %} {% load static %} {% block title %} Post | Auth
Project {% endblock title %} {% block head %}
<link rel="stylesheet" href="{% static 'main/css/post.css' %}" />
{% endblock head %} {% block body %} {% include 'main/navbar.html' %}
<section class="post-container">
  <h2 class="post-head">{{post.title}}</h2>
  <p class="post-content">{{post.content}}</p>

  {% if owner %}
  <div class="post-action">
    <a onclick="toggleForm()" class="edit-button">Edit</a>
    <a href="/delete/{{post.id}}/" class="delete-button">Delete</a>
  </div>

  <form
    action="/edit/{{post.id}}/"
    method="post"
    class="edit-form"
    id="edit-form"
  >
    <h2 class="edit-head">Edit Post</h2>
    {% csrf_token %}
    <input
      type="text"
      name="title"
      placeholder="Post Title"
      value="{{post.title}}"
      required
    />
    <textarea name="content" placeholder="Post Content">
{{post.content}}
</textarea
    >
    <button type="submit">Save</button>
  </form>

  {% endif %}
</section>

<script>
  let formHidden = true;

  const toggleForm = () => {
    if (formHidden) {
      showEditForm();
    } else {
      hideEditForm();
    }
  };

  const showEditForm = () => {
    document.getElementById("edit-form").style.display = "flex";
    formHidden = false;
  };
  const hideEditForm = () => {
    document.getElementById("edit-form").style.display = "none";
    formHidden = true;
  };
</script>
{% endblock body %}
