{% extends "main/base.html" %} {% load static %} {% block title %} Register |
Auth Project {% endblock title %} {% block head %}
<link rel="stylesheet" href="{% static 'main/css/auth.css' %}" />
{% endblock head %} {% block body %}

<section class="auth-container">
  <div class="auth-box">
    <h2>Create Account</h2>
    <form class="auth-form" method="post" action="">
      {% csrf_token %} {% if messages %} {% for message in messages %}
      <small class="error">{{message}}</small>
      {% endfor %} {% endif %}

      <input type="text" placeholder="Name" name="name" />
      <input type="email" placeholder="Email" name="email" />
      <input type="password" placeholder="Password" name="password" />
      <button class="auth-submit" type="submit">Create</button>
    </form>
    <p class="auth-text">
      Already have an account? <a href="/login/">Login Here</a>
    </p>
  </div>
</section>
{% endblock body %}
